<!-- views/index.ejs (client-side) -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Day Type Message</title>
</head>

<body>
  <h1>Day Type Message</h1>
  <p id="message"></p>

  <script>
    // Client-side logic for rendering the message based on dayType
<<<<<<< HEAD
    var dayType = <%= dayType %>;
=======
var dayType = <%= dayType %>;
>>>>>>> 8613b72e2b28312043256748dd49ebf193bc4233
  
    const messageElement = document.getElementById('message');
    if (dayType === 0 || dayType === 6) {
      messageElement.innerText = "Yay, it's a weekend! Let's be savages!";
    } else {
      messageElement.innerText = "Yay, it's a weekday! Let's be savages!";
    }
  </script>
  
</body>

</html>
