<!-- views/index.ejs (client-side) -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Day Type Message</title>
  </head>

  <body>
    <h1>Yay it's <%= dayType %><%= advice %></h1>
  </body>
</html>
